/* piCorePlayer style sheet

Version: 3.12 2017-02-27
	Added a.nav8, a.nav8a, a.nav8, a.nav8a, a.tab20, a.tab20a. GE
	Added some extra .columXXX that might be useful. GE.
	Cleaned formatting a little. GE
	Note problem with .warning style is repeated. GE

Version: 3.00 2016-08-09 GE
	Added .pointer.

Version: 0.15 2016-05-20 GE
	Added .column350, .right, .column20.

Version: 0.14 2016-04-27 GE
	Added .column280.
	Changed .indicator_green, .indicator_red.

Version: 0.13 2016-04-10 PH
	Added .large6, .large8, .large10.
	Added .column50, .column75.
	Added button style.

Version: 0.12 2016-03-16 GE
	Added .column100, .column110, .column120.

Version: 0.11 2016-02-23 GE
	Added .large60, .large64, .indicator_green, .indicator_red.

Version: 0.10 2016-02-01 SBP
	Added a.nav6, a.nav6a.

Version: 0.09 2015-08-23 GE
	Added a.tab7 .small3, a.nav5a, a.nav7a.

Version: 0.08 2015-06-17 GE
	Added .large22.

Version: 0.07 2015-06-05 GE
	Renamed styles nav to nav5 and nav2 to nav7.
	Simplified input styles.

Version: 0.06 2015-02-04 GE
	Removed .circle, .indicator.
	Added .centre, input.large36, .column380.
	Added .copyright.

Version: 0.05 2014-12-20 GE
	Severely pruned.

Version: 0.05 2014-12-07 SBP
	Added .circle style.

Version: 0.04 2014-10-24 GE
	Added textarea.white style.

Version: 0.03 2014-10-08 GE
	Added input[type=submit] style.

Version: 0.02 2014-10-04 GE
	Major format changes.
	Added textarea style.

Version: 0.01 2014-06-24 SBP
	Original.
*/

/* Default setting */
* {
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	text-decoration:none;
}

h1 {
	color:#cc3300;
	font-size:16px;
}

h2 {
	color:#cc3300;
	font-size:14px;
}

/* Set the colour of messages */
.info {
	color:black;
}

.debug {
	color:orange;
}

.error, .warning {
	color:red;
}

.ok {
	color:green;
}

/* Get rid of some space in the banner table */
.banner {
	margin-bottom:-5px;
	margin-top:-3px;
}

/* Footer text needs to be smaller and white */
.footer {
	color:white;
	font-size:11px;
	margin-bottom:2px;
	margin-top:2px;
	text-align:center;
}

/* Copyrigth test needs to be smaller, light and centred */
.copyright {
	color:#888888;
	font-size:11px;
	margin-bottom:-5px;
	margin-top:-3px;
	text-align:center;
}

/* This is for odd and even striped tables */
.odd, .even, .warning{
	background:#d8d8d8;
	border:0;
	display:block;
}

.even {
	background:#eaeaea;
}

.warning {
	background:red;
}

.even td p, .odd td p, .warning td p {
	margin-bottom:5px;
	margin-top:5px;
}

/* More and less help feature */
.more {
	display:block;
}

.less {
	display:none;
}

.moreless {
	color:#cc3300;
	cursor:help;
	font-size:10px;
}

/* Red crosses and green tick indicators */
.indicator_green, .indicator_red {
	border-radius:8px;
	color:white;
	display:inline-block;
	font-size:12px;
	height:16px;
	line-height:16px;
	text-align:center;
	text-decoration:bold;
	width:16px;
}

.indicator_green {
	background:green;
}

.indicator_red {
	background:red;
}

.pointer {
	cursor: pointer;
}

.centre {
	text-align:center;
}

.right {
	text-align:right;
}

/* fieldset formatting */
div.row {
	margin:5px 0 5px 0;
}

div.row fieldset {
	border:1px solid grey;
	margin:0 5px;
}

div.row fieldset legend {
	font-weight:bold;
}

/* Define size of buttons and input fields */
input, button {
	width:9em;
}

.small1 {
	width:1em;
}

.small2 {
	width:2em;
}

.small3 {
	width:2.8em;
}

.large6 {
	width:6em;
}

.large8 {
	width:8em;
}

.large10 {
	width:10em;
}

.large12 {
	width:12em;
}

.large15 {
	width:15em;
}

.large16 {
	width:16em;
}

.large18 {
	width:18em;
}

.large22 {
	width:22em;
}

.large30 {
	width:30em;
}

.large36 {
	width:36em;
}

.large60 {
	width:60em;
}

.large64 {
	width:64em;
}

/* Define some columns widths */
.column20 {
	width:20px;
}

.column25 {
	width:25px;
}

.column50 {
	width:50px;
}

.column75 {
	width:75px;
}

.column100 {
	width:100px;
}

.column110 {
	width:110px;
}

.column120 {
	width:120px;
}

.column150 {
	width:150px;
}

.column200 {
	width:200px;
}

.column210 {
	width:210px;
}

.column250 {
	width:250px;
}

.column280 {
	width:280px;
}

.column300 {
	width:300px;
}

.column350 {
	width:350px;
}

.column380 {
	width:380px;
}

.column400 {
	width:400px;
}

.column420 {
	width:420px;
}

/* Used for adding padding rows in tables */
.padding {
	height:8px;
}

/* Define the tables */
table, table.bgwhite, table.bggrey, table.bgblack {
	border:0px solid red;
	background:white;
	width:956px;
}

table.bggrey {
	background:#d8d8d8;
}

table.bgblack {
	background:black;
}

table.percent100 {
	width:100%;
}

/* Define textareas */
textarea, textarea.styled, textarea.inform {
	background:#d8d8d8;
	border:1px solid grey;
	font-family:courier;
	font-size:12px;
	padding:5px;
	width:944px;
}

textarea.inform {
	background:#eaeaea;
	border:0px solid grey;
	width:898px;
}

textarea.width600 {
	background:#eaeaea;
	border:0px solid grey;
	height:50px;
	width:600px;
}

textarea.white {
	background:white;
	border:0px solid white;
	font-size:12px;
}

/* Horizontal navigation and controls bar */
a.nav5, a.nav5a,
a.nav6, a.nav6a,
a.nav7, a.nav7a,
a.nav8, a.nav8a,
a.nav9, a.nav9a {
	background:black;
	border:1px solid black;
	border-radius:8px 8px 8px 8px;
	color:white;
	display:block;
	float:left;
	line-height:20px;
	margin-top:-12px;
	overflow:hidden;
	text-align:center;
	width:187.5px;
}

a.nav6, a.nav6a {
	width:155.5px;
}

a.nav7, a.nav7a {
	width:133px;
}

a.nav8, a.nav8a {
	width:115px;
}

a.nav9, a.nav9a {
	width:103px;
}

a.nav5:hover, a.nav5a:hover,
a.nav6:hover, a.nav6a:hover,
a.nav7:hover, a.nav7a:hover,
a.nav8:hover, a.nav8a:hover,
a.nav9:hover, a.nav9a:hover {
	background:white;
	color:black;
}

a.nav5a, a.nav6a, a.nav7a, a.nav8a, a.nav9a {
	background:#d8d8d8;
	color:black;
}

a.tab7, a.tab7a,
a.tab14, a.tab14a,
a.tab20, a.tab20a {
	font-size:10px;
	background:#eaeaea;
	border-radius:8px 8px 0 0;
	color:black;
	display:block;
	float:left;
	line-height:20px;
	margin-top:-12px;
	overflow:hidden;
	text-align:center;
	width:133px;
}

a.tab14, a.tab14a {
	border-radius:0 0 8px 8px;
	width:66px;
}

a.tab20, a.tab20a {
	width:46px;
}

a.tab7a, a.tab14a, a.tab20a {
	background:black;
	color:white;
	font-size:11px;
}

a.tab7:visited, a.tab14:visited, a.tab20:visited {
	background:#eaeaea;
}

a.tab7:hover, a.tab14:hover, a.tab20:hover {
	background:#d8d8d8;
	font-size:11px;
}

.tab7end {
	color:white;
	font-size:5px;
	margin-bottom:-10px;
}
