/* piCorePlayer style sheet

Version: 0.07 2015-06-05 GE
	Renamed styles nav to nav5 and nav2 to nav7.
	Simplified input styles.

Version: 0.06 2015-02-04 GE
	Removed .circle, .indicator.
	Added .centre, input.large36, .column380.
	Added .copyright.

Version: 0.05 2014-12-20 GE
	Severely pruned.

Version: 0.05 2014-12-07 SBP
	Added .circle style.

Version: 0.04 2014-10-24 GE
	Added textarea.white style.

Version: 0.03 2014-10-08 GE
	Added input[type=submit] style.

Version: 0.02 2014-10-04 GE
	Major format changes.
	Added textarea style.

Version: 0.01 2014-06-24 SBP
	Original.
*/

/* Default setting */
* {
	font-family:verdana, arial, sans-serif;
	font-size:12px;
	text-decoration:none;
}

h1 {
	color:#cc3300;
	font-size:16px;
}

h2 {
	color:#cc3300;
	font-size:14px;
}
/* Set the colour of messages */
.info {
	color:black;
}

.debug {
	color:orange;
}

.error, .warning {
	color:red;
}

.ok {
	color:green;
}

/* Get rid of some space in the banner table */
.banner {
	margin-bottom:-5px;
	margin-top:-3px;
}

/* Footer text needs to be smaller and white */
.footer {
	color:white;
	font-size:11px;
	margin-bottom:2px;
	margin-top:2px;
	text-align:center;
}

.copyright {
	color:#888888;
	font-size:11px;
	margin-bottom:-5px;
	margin-top:-3px;
	text-align:center;
}

/* This is for odd and even striped tables */
.odd, .even, .warning{
	background:#d8d8d8;
	border:0px;
	display:block;
}

.even {
	background:#eaeaea;
}

.warning {
	background:red;
}

.even td p, .odd td p, .warning td p {
	margin-bottom:5px;
	margin-top:5px;
}

/* This is for more and less feature */
.more {
	display:block;
}

.less {
	display:none;
}

.moreless {
	color:#cc3300;
	font-size:10px;
}

/* Squeezelite running indicator */
.centre {
	text-align:center;
}

/* fieldset formatting */
div.row {
	margin:5px 0 5px 0;
}

div.row fieldset {
	border:1px solid grey;
	margin:0 5px;
}

div.row fieldset legend {
	font-weight:bold;
}

/* Define size input buttons and fields */
input {
	width:9em;
}

.small1 {
	width:1em; 
}

.small2 {
	width:2em; 
}

.large12 {
	width:12em; 
}

.large15 {
	width:15em; 
}

.large16 {
	width:16em; 
}

.large18 {
	width:18em; 
}

.large30 {
	width:30em;
}

.large36 {
	width:36em;
}

/* Define columns widths */
.column150 {
	width:150px;
}

.column210 {
	width:210px;
}

.column300 {
	width:300px;
}

.column380 {
	width:380px;
}

.column420 {
	width:420px;
}

.center {
	text-align:center;
}

/* Used for adding padding rows in tables */
.padding {
	height:8px;
}

/* Define the tables */
table, table.bgwhite, table.bggrey, table.bgblack {
	border:0px solid red;
	background:white;
	width:956px;
}

table.bggrey {
	background:#d8d8d8;
}

table.bgblack {
	background:black;
}

table.percent100 {
	width:100%;
}

/* Define textareas */
textarea, textarea.styled, textarea.inform {
	background:#d8d8d8;
	border:1px solid grey;
	font-family:courier;
	font-size:12px;
	padding:5px;
	width:944px;
}

textarea.inform {
	background:#eaeaea;
	border:0px solid grey;
	width:898px;
}

textarea.width600 {
	background:#eaeaea;
	border:0px solid grey;
	width:600px;
	height:50px;
}

textarea.white {
	background:white;
	border:0px solid white;
	font-size:12px;
}

/* Horizontal navigation and controls bar */
a.nav5, a.nav5:link, a.nav5:visited, a.nav7, a.nav7:link, a.nav7:visited  {
	background:black;
	border:1px solid black;
	color:white;
	display:block;
	float:left;
	line-height:20px;
	margin-top:-12px;
	overflow:hidden;
	text-align:center;
	width:187.5px;
}

a.nav7, a.nav7:link, a.nav7:visited  {
	width:133px;
}

a.nav5:hover, a.nav7:hover {
	background:white;
	color:black;
}

a.nav5:active, a.nav7:active {
	background:black;
	color:white;
}